
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<h3>CV</h3>

<ul>
    <li>2019-10-21	2021-09-25
		Mediq Sverige AB support specialistResponsible for internal support at the company, which included all incidents and questions </br>
        that the other employees have in the office, warehouse or at home. Inventory of hardware and installation of computers and telephones for the employees. </br>
        Other technical areas such as patch cabinets, repair, and settings in Active Directory etc. </li></br>


    <li>2017-08-22	2018-09-07		
        Picadeli AB teknisk support		
        Responsible for first contact with customers who experience problems with Picadeli's salad bars. This includes both hardware and software. </br>
        I was responsible for both the older salad bars and the new Arctic model that is connected to the internet. </br>
        That way, it is possible to control them via Picadeli's own software called "Cloud" and a command interpreter based on Linux, called "Bash".</li>

</ul>

