
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<ul>
    <li>Name: Rikard Densloe</li>
    <li>Phone number: 123456789</li>
    <li>Email: name@email.com</li>
    <li>Social media: none</li>
</ul>

