
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<ul>
    <li><a href="https://github.com/Neoleds/Sokoban">Sokoban</a></li>
    Spelet Sokoban kodat i Javascript.</br>
    <li><a href="https://github.com/Neoleds/VendingMachine">Vending Machine</a></li>
    Vending machine kodad i C#.</br>
    <li><a href="https://github.com/Neoleds/Hangman">Hangman</a></li>
    Hangman kodad i C#.</br>
    <li><a href="https://github.com/Neoleds/Calculator">Calculator</a></li>
    En basic kalkylator kodad i C#.</br>
    <li><a href="https://github.com/Neoleds/CSS-Fundamentals">CSS fundamentals</a></li>
    Basic CSS koduppgift.</br>
    <li><a href="https://github.com/Neoleds/HTML-Fundamentals">HTML fundamentals</a></li>
    Basic HTML koduppgift.</br>
</ul>

