0

@{
    ViewData["Title"] = "RandomNumber";
}

<h1>Random number guessing</h1>

<p>Ett nummer mellan 1 och 100 har skapats. Se om du kan gissa vilket:</p>

<form asp-controller="Home" asp-action="RandomNumber" method="post"> 
    <input type="number" name="guess" />
    <input type="submit" value="Gissa">
</form>

<p>@ViewBag.msg</p>