@{
    ViewData["Title"] = "Fever";
}

<h1>Fever</h1>

<p>Skriv in din temperatur för att se om du har feber:</p>
<form asp-controller="Doctor" asp-action="Fever" method="post">

    <input type="number" name="temp" />
    <input type="submit" value="Titta temperaturen">

</form>

<p>@ViewBag.msg</p>